[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-silk = "*"
gunicorn = "*"
mysqlclient = "*"
django-constance = {extras = ["redis"], version = "*"}
django-imagekit = "*"
django-colorfield = "*"
django-ckeditor = "*"
django-countries = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
python-dotenv = "*"
sendgrid = "*"
django-mathfilters = "*"
channels = "*"
daphne = "*"
channels-redis = "*"
django-rosetta = "*"
django-redis = "*"
django-ckeditor-5 = "*"

[dev-packages]
django-silk = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
