[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-constance = { extras = ["redis"], version = "*" }
django-imagekit = "*"
django-colorfield = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
django-countries = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-mathfilters = "*"
django-redis = "*"
channels = "*"
sendgrid = "*"
python-dotenv = "*"
django-silk = "*"
faker = "*"

[dev-packages]
django-rosetta = "*"
python-dotenv = "*"
django-silk = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12"
